<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,408},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>activityBg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>activityTitlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{852,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,294}}</string>
                <key>sourceSize</key>
                <string>{852,294}</string>
            </dict>
            <key>bottomBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,408},{640,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,126}}</string>
                <key>sourceSize</key>
                <string>{640,126}</string>
            </dict>
            <key>buyTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,381},{169,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,81}}</string>
                <key>sourceSize</key>
                <string>{169,81}</string>
            </dict>
            <key>buy_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,205},{201,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,155}}</string>
                <key>sourceSize</key>
                <string>{201,155}</string>
            </dict>
            <key>freeTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,298},{169,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,81}}</string>
                <key>sourceSize</key>
                <string>{169,81}</string>
            </dict>
            <key>free_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{201,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,155}}</string>
                <key>sourceSize</key>
                <string>{201,155}</string>
            </dict>
            <key>lvbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,469},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>next10ItemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,526},{439,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{439,53}}</string>
                <key>sourceSize</key>
                <string>{439,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d92bc527eeb7ed6796628aebb9c02c4$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
