<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{230,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,254}}</string>
                <key>sourceSize</key>
                <string>{230,254}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,885},{255,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,268}}</string>
                <key>sourceSize</key>
                <string>{255,268}</string>
            </dict>
            <key>10_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{263,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,221}}</string>
                <key>sourceSize</key>
                <string>{263,221}</string>
            </dict>
            <key>1_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,222}}</string>
                <key>sourceSize</key>
                <string>{350,222}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,639},{276,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,244}}</string>
                <key>sourceSize</key>
                <string>{276,244}</string>
            </dict>
            <key>2_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{294,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,223}}</string>
                <key>sourceSize</key>
                <string>{294,223}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{224,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,271}}</string>
                <key>sourceSize</key>
                <string>{224,271}</string>
            </dict>
            <key>3_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{310,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,202}}</string>
                <key>sourceSize</key>
                <string>{310,202}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1582},{223,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,244}}</string>
                <key>sourceSize</key>
                <string>{223,244}</string>
            </dict>
            <key>4_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,206},{307,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,221}}</string>
                <key>sourceSize</key>
                <string>{307,221}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,459},{230,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,286}}</string>
                <key>sourceSize</key>
                <string>{230,286}</string>
            </dict>
            <key>5_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{298,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,204}}</string>
                <key>sourceSize</key>
                <string>{298,204}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,906},{226,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,267}}</string>
                <key>sourceSize</key>
                <string>{226,267}</string>
            </dict>
            <key>6_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,429},{289,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,208}}</string>
                <key>sourceSize</key>
                <string>{289,208}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{217,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,250}}</string>
                <key>sourceSize</key>
                <string>{217,250}</string>
            </dict>
            <key>7_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{318,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,217}}</string>
                <key>sourceSize</key>
                <string>{318,217}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{242,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,279}}</string>
                <key>sourceSize</key>
                <string>{242,279}</string>
            </dict>
            <key>8_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,221},{302,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,236}}</string>
                <key>sourceSize</key>
                <string>{302,236}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1134},{226,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,255}}</string>
                <key>sourceSize</key>
                <string>{226,255}</string>
            </dict>
            <key>9_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,691},{273,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,213}}</string>
                <key>sourceSize</key>
                <string>{273,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>presentPackAtlas.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bf512731cc8439ca8cc160f73535a5c$</string>
            <key>textureFileName</key>
            <string>presentPackAtlas.png</string>
        </dict>
    </dict>
</plist>
