<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clctBonus_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>coin_pack_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,347},{172,166}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{172,166}}</string>
                <key>sourceSize</key>
                <string>{180,168}</string>
            </dict>
            <key>coins_pack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,340}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,340}}</string>
                <key>sourceSize</key>
                <string>{368,340}</string>
            </dict>
            <key>slotsymbol_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,119},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>slotsymbol_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,538},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>slotsymbol_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,599},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>slotsymbol_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>slotsymbol_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,191},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>slotsymbol_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,305},{77,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,40}}</string>
                <key>sourceSize</key>
                <string>{77,40}</string>
            </dict>
            <key>slotsymbol_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,48},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>slotsymbol_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,261},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>slotsymbol_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,529},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>slotsymbol_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,666},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>slotsymbol_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,386},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>slotsymbol_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,184},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>slotsymbol_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,75},{87,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,42}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>slotsymbol_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,538},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>slotsymbol_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,120},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>slotsymbol_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,463},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>slotsymbol_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{102,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,71}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>slotsymbol_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,242},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>slotsymbol_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,316},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
            <key>spins_pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,515},{161,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,153}}</string>
                <key>sourceSize</key>
                <string>{161,153}</string>
            </dict>
            <key>spins_pack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{259,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,192}}</string>
                <key>sourceSize</key>
                <string>{259,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameshow_img.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb1e441771cefb74396efde18e86af0b$</string>
            <key>textureFileName</key>
            <string>gameshow_img.png</string>
        </dict>
    </dict>
</plist>
