<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{90,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{90,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,0},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{84,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>10_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,72},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,328},{106,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{106,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>11_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,77},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,0},{98,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{98,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,432},{67,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{67,69}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,316},{100,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{100,88}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>13_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,434},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,306},{100,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{100,52}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>14_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,0},{77,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,40}}</string>
                <key>sourceSize</key>
                <string>{77,40}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{108,54}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,35},{108,54}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>15_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,474},{70,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,35}}</string>
                <key>sourceSize</key>
                <string>{70,35}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,306},{100,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,29},{100,54}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>16_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,0},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,110},{96,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{96,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>17_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,169},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,200},{96,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{96,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>18_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,432},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,416},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{96,92}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>19_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,281},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,214},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{96,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,388},{86,86}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{86,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>20_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,0},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,220},{106,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,29},{106,52}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>21_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,194},{87,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,42}}</string>
                <key>sourceSize</key>
                <string>{87,42}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{68,108}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{68,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>22_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,312},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,104},{102,96}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{102,96}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>23_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,151},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,58}}</string>
                <key>sourceSize</key>
                <string>{62,58}</string>
            </dict>
            <key>2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,243},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,296},{92,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{92,82}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,361},{71,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{102,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,71}}</string>
                <key>sourceSize</key>
                <string>{102,71}</string>
            </dict>
            <key>4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,406},{98,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,67}}</string>
                <key>sourceSize</key>
                <string>{98,67}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{110,102}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,434},{77,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,73}}</string>
                <key>sourceSize</key>
                <string>{77,73}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,100},{100,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,23},{100,64}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,194},{79,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,51}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{110,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{110,90}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,92},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,64}}</string>
                <key>sourceSize</key>
                <string>{77,64}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,206},{84,100}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{84,100}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>8_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,0},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,100},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{94,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>9_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,352},{68,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,61}}</string>
                <key>sourceSize</key>
                <string>{68,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SlotSymbol.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdbd68ebef6e4e3435d360744eba19c9$</string>
            <key>textureFileName</key>
            <string>SlotSymbol.png</string>
        </dict>
    </dict>
</plist>
